<div class="col-lg-12">
    <div class="sidebar-item recent-posts">
      <div class="sidebar-heading">
        <h2>Posts Recientes</h2>
      </div>
      <div class="content">
        <ul>
          
          <li><a href="/un-dia-en-chicamocha">
            <h5>Un dia en Chicamocha</h5>
            <span>2024-10-3</span>
          </a>
        </li>

          <li><a href="/conociendo-el-mar-por-primera-vez">
            <h5>Conociendo el mar por primera vez</h5>
            <span>2024-10-3</span>
          </a>
        </li>

          <li><a href="">
            <h5>Vacaciones en Yopal</h5>
            <span>2024-10-3</span>
          </a>
        </li>

        </ul>
      </div>
    </div>
  </div>
