<!-- Banner Starts Here -->
<div class="main-banner header-text">
    <div class="container-fluid">
      <div class="owl-banner owl-carousel">
        
        <div class="item">
          <img src="https://i.pinimg.com/736x/94/aa/53/94aa530fa4b0fc1d3be4abd1b11313bd.jpg" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>Viajes</span>
              </div>
              <a routerLink="/un-dia-en-chicamocha"><h4>Cañon del Chicamocha</h4></a>
              <ul class="post-info">
                <li><a href="">Nestor</a></li>
                <li><a href="">2024-10-3</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://i.pinimg.com/736x/ce/e1/24/cee124a28c242339e09e13374992ca0a.jpg" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>Viajes</span>
              </div>
              <a href="/conociendo-el-mar-por-primera-vez"><h4>Tolu</h4></a>
              <ul class="post-info">
                <li><a href="">Nestor</a></li>
                <li><a href="">2024-10-3</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://i.pinimg.com/736x/d9/4e/39/d94e394629d4a3977212f9f23f220a94.jpg" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>Viajes</span>
              </div>
              <a href=""><h4>Yopal</h4></a>
              <ul class="post-info">
                <li><a href="">Nestor</a></li>
                <li><a href="">2024-10-3</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://i.pinimg.com/736x/7a/d9/64/7ad9648f9494214651a9803b00035c9e.jpg" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>Viajes</span>
              </div>
              <a href=""><h4>Barrancabermeja</h4></a>
              <ul class="post-info">
                <li><a href="">Nestor</a></li>
                <li><a href="">2024-10-3</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->