<!-- Page Content -->
 
<app-header-home></app-header-home>

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>Donaciones</span>
              <h4>Invitame un Cafe en mi Proximo Destino</h4>
            </div>
            <div class="col-lg-4">
              <div class="main-button">
                <a rel="nofollow" href="https://paypal.com" target="_parent">DONAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            @for(postData of posts; track postData.slug){
            <app-postpreview [post]="postData"></app-postpreview>
             }
            <div class="col-lg-12">
              <div class="main-button">
                <a href="inicio">LLegaste al Final</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="Buscar..." autocomplete="on">
                </form>
              </div>
            </div>

            <app-recentposts></app-recentposts>
            

           
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



